<app-nav-bar></app-nav-bar>
<body>

    <div class="container" id="container">

        <div class="form-container login">
            <form>
                <h1>Login</h1>
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <button class="btn btn-primary">Login</button>
            </form>
        </div>

    
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to continue your work</p>
                </div>
            </div>
        </div>
    
    </div>

</body>

