<app-nav-bar></app-nav-bar>
<body>

    <div class="container" id="container">

        <div class="form-container login">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1>Login</h1>
                <input type="text" placeholder="Username" formControlName="username">
                <div class="error-msg"><p class="error-msg" *ngIf="usernameInput.invalid && usernameInput.touched">Username is required</p></div>

                <input type="password" placeholder="Password" formControlName="password">
                <div class="error-msg"><p class="error-msg" *ngIf="passwordInput.hasError('required') && passwordInput.touched">Password is required</p></div>
                <div class="error-msg"><p class="error-msg" *ngIf="passwordInput.hasError('minlength') && passwordInput.touched">Password must be at least 8 characters long</p></div>

                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
            </form>
        </div>

    
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to continue your work</p>
                </div>
            </div>
        </div>
    
    </div>

</body>

