<app-nav-bar></app-nav-bar>

<section id="testimonial">

    <div class="container flex-row">

        <div class="testimonial-wrapper">
            <div class="testimonials">
                <div class="testimonial">
                    <h1 class="tilte">About Us</h1>
                    <p class="testimonial__text">Welcome to TaskFlow, where we believe in working smartly with endless possibilities. Our mission is to streamline collaboration, boost productivity, and empower teams to achieve project success seamlessly.
                        </p>
                </div>
            </div>   
            <div class="testimonial-dot">
                <span></span>
                <span></span>
                <span></span>
            </div>    
        </div>

        <div class="testimonials__img">
            <img src="../../../assets/testimonials.png" alt=""/>
        </div>

    </div>

</section>