<!-- HEADER -->
<app-nav-bar></app-nav-bar>
<!-- HEADER -->


<!-- HERO -->
<section id="taskFlow" class="container flex-row">

    <div class="taskFlow__content">
        <h1 class="tilte">Work Smartly With Endless Possibilities</h1>
        <p class="text">Streamline collaboration, boost productivity, and achieve project success with our intuitive project management solution.</p>
        <a routerLink="/sign-up" class="btn btn-primary">Get Started</a>
    </div>

    <div class="taskFlow__img">
        <img src="../../../../assets/Screenshot.png" alt="taskFlow image"/>
    </div>

</section>
<!-- HERO -->

<hr>

<!-- FUTURES -->
<section id="futures">

    <div class="container">

        <p class="section-subheading text-right">futures</p>
        <h2 class="section-heading text-right right">Check the real innovation od problem solving</h2>

        <div class="futures">

            <div class="future">
                <div class="future__img">
                    <img src="../../../../assets/Screenshot1.png" alt=""/>
                </div>
                <div class="future__content">
                    <h3 class="future__category">Organized</h3>
                    <h3 class="future__title">Intuitive Task Management</h3>
                    <p class="future__text">Easily create, assign, and track tasks with our user-friendly interface. Stay organized and keep your team on the same page.</p>
                 </div>
            </div>

            <div class="future">
                <div class="future__img">
                    <img src="../../../../assets/Screenshot2.png" alt=""/>
                </div>
                <div class="future__content">
                    <h3 class="future__category">Collaboration</h3>
                    <h3 class="future__title">Collaborative Workspaces</h3>
                    <p class="future__text">Foster collaboration by creating dedicated workspaces for your projects. Share files, updates, and feedback in one central location.</p>
                 </div>
            </div>

            <div class="future">
                <div class="future__img">
                    <img src="../../../../assets/Screenshot3.png" alt=""/>
                </div>
                <div class="future__content">
                    <h3 class="future__category">Visibility</h3>
                    <h3 class="future__title">Real-Time Progress Tracking</h3>
                    <p class="future__text">Monitor project progress in real-time with interactive dashboards. Identify bottlenecks and ensure projects stay on schedule.</p>
                 </div>
            </div>

        </div>

    </div>

</section>
<!-- FUTURES -->

<hr>

<!-- TESTIMONIALS -->
<section id="testimonial">

    <div class="container flex-row">

        <div class="testimonial-wrapper">
            <p class="quotes"><i class="fas fa-quote-left"></i></p>
            <p class="section-subheading">testimonial</p>
            <div class="testimonials">
                <div class="testimonial">
                    <h1 class="testimonial__title">The aer awesome</h1>
                    <p class="testimonial__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae corporis sapiente odit laboriosam quas molestiae eum ipsum! Dolorum aspernatur voluptatibus voluptas tenetur iust</p>
                    <div class="testimonial__author">
                        <h3>John Doe</h3>
                        <p>Web Developer</p>
                    </div>
                </div>
            </div>   
            <div class="testimonial-dot">
                <span></span>
                <span></span>
                <span></span>
            </div>    
        </div>

        <div class="testimonials__img">
            <img src="../../../assets/testimonials.png" alt=""/>
        </div>

    </div>

</section>
<!-- TESTIMONIALS -->

<hr>

<!-- FOOTER -->
<div id="footer">

<!-- GET STARTED -->
    <div id="get_started">
        <div class="container flex-center flex-column">
            <div class="get_started__logo">
                <img src="../../../assets/TaskFlow-icon.png" alt="TaskFlow logo">
            </div>
            <h2 class="section-heading text-center left right">Manage any project, with TaskFlow</h2>
            <p class="section-subheading text-center">Get started for free.</p>
            <button class="btn btn-primary left right" routerLink="/sign-up">Sign up</button>
        </div>   
    </div>
<!-- GET STARTED -->

    <footer>

        <div class="container">
    
            <div class="footer__content">
    
                <div class="footer__menu">
                    <h4 class="footer__menu-title"><a routerLink="/">Home</a></h4>
                </div>
                <div class="footer__menu">
                    <h4 class="footer__menu-title"><a routerLink="/about">About us</a></h4>
                </div>
                <!-- <div class="footer__menu">
                    <h4 class="footer__menu-title"><a routerLink="/contact">Contact</a></h4>
                </div> -->    
            </div>
    
            <div class="footer_bottom">
                <div class="footer_bottom-icons">
                    <p>Follow us</p>
                    <a href="https://github.com/randH7" target="_blank" class="github"><i class="fab fa-github"> </i></a>
                    <a href="https://www.linkedin.com/in/rand-alharthi/" target="_blank" class="linkedin"><i class="fab fa-linkedin"> </i></a>
                </div>
                <p>&copy; 2023 TaskFlow. All rights reserved.</p>    
            </div>
            
        </div>
    
    </footer>

</div>
<!-- FOOTER -->
