<header>

    <div class="container flex-row">

        <div class="header__logo">
            <a routerLink="/"><img src="../../../assets/TaskFlow-logo.png" alt="TaskFlow logo"></a>
        </div>

        <nav>
            <ul class="header__menu flex-row">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About us</a></li>
                <!-- <li><a routerLink="/contact">Contact</a></li> -->
            </ul>
        </nav>

        <div class="right flex-center">
            <ul class="header__menu flex-row">
                <li><a routerLink="/login">Login</a></li>
                <a class="btn btn-primary" routerLink="/sign-up">Sign up</a>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        
    </div>

</header>

