<app-nav-bar></app-nav-bar>




<section class="not__found_container flex-row">

    <div class="error__img">
        <img src="../../../assets/404-error-template-17.png" alt="Sad emoji image"/>
    </div>

    <div class=".not__found__content">
        <h1 class="tilte">404 Not Found</h1>
        <p class="text">We're Sorry, the page you are looking for might have been removed <br>had its name changed or is temporarily unavailable.</p>
        <a routerLink="/" class="btn btn-primary">Home Page</a>
    </div>

</section>
