<div class="sidebar">

    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i> 
        <span class= "logo_name">CodingLab</span>
    </div>

    <ul class="nav-links">
        <li class="row-link">
            <a href=".">
                <i class='bx bx-grid-alt'></i> 
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Dashboard</a></li>  
            </ul>
        </li>
        <li class="row-link">
            <a href=".">
                <i class='bx bx-briefcase'></i>
                <span class="link_name">Project</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Project</a></li>  
            </ul>
        </li>
        <li class="row-link">
            <a href=".">
                <i class='bx bx-user'></i>
                <span class="link_name">Employ</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Employ</a></li>  
            </ul>
        </li>
        <li class="row-link">
            <a href=".">
                <i class='bx bx-cog' ></i>
                <span class="link_name">Settings</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Settings</a></li>  
            </ul>
        </li>

        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <img src="../../../../assets/profile.png" alt="profile image">
                </div>
      
                <div class="name-job">
                    <div class="profile-name">Rand Alharthi</div>
                    <div class="job">Web Developer</div>
                </div>
                <i class='bx bx-log-out'></i>
            </div>
        </li>

    </ul>
    
</div>

<div class="selected-section">
    <div class="selected-content">
        <i class="bx bx-menu" (click)="sideBarAction()"></i>
        <span class="text">Drop Down Sidebar</span>
    </div>
</div>
    



